* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.drop-down {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 0.5rem;
}


.name-title p1 {
    font-size: 25pt;
    font-weight: bold;
    margin: .5rem;
}

.nav-items ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    transition: all 500ms;

}


.nav-items li:hover {
    background-color: rgba(240, 248, 255, 0.199);
}


@media (max-width: 800px) {
    .drop-down {
        display: flex;
    }

    .nav-items {
        display: none;
    }
}