* {
    box-sizing: border-box;
    background-color: black;
}

body {
    margin: 0;
}




.aboutInfo {
    display: flex;
    justify-content: center;
}




.fullName {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #E31C25;
}

.aboutParagraph {
    text-align: center;
    color: white;
    font-size: 12pt;
    max-width: 400px;
}